
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: rgb(15,18,48);
    background: -moz-linear-gradient(180deg, rgba(15,18,48,1) 0%, rgba(108,99,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(15,18,48,1) 0%, rgba(108,99,255,1) 100%);
    background: linear-gradient(180deg, rgba(15,18,48,1) 0%, rgba(108,99,255,1) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f1230",endColorstr="#6c63ff",GradientType=1); */
      box-sizing: border-box;
      overflow-x: hidden;
  }
  h1, h2, h3, h4, h5, h6{
      color: #161515e3;
      text-align:center;
      text-decoration: rgb(255, 255, 255);
      font-size: 300%;
      font-family: "Noto Sans Display";
  }
  .logo img {
    float: right;   
    width: 100px;
  }
  .main-btn {
    float: left;
  }
  .cat_card {
    margin: 0 20px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0f1230;
    color: #6C63FF;
    font-size: 16px;
    font-weight: 500;
  }
  .cat_card img {
    display: block;
    height: 90%;
    align-items: center;
    margin: auto;
    display: flex;
  }
  button {
    background-color: #6C63FF; /* Green */
    border: royalblue;
    color: #190e28;
    padding: 10px 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;
  }
  #btnConnect span {
    background: transparent !important;
    text-align: center;
    float: left;
  }
  #btnUserInfo span {
    background: transparent !important;
    text-align: center;
    float: left;
  }
  #btnOpenListItem span {
    font-size:48px;
  }
  .btn {
      float: right;
      bottom: 50px;
      right: 20px;
      padding: 12px 24px;
      text-align: center;
      border-radius: 44px;
      outline: none;
      text-decoration: none;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      z-index: 1;
      transition: all 0.2s ease-in-out 0s;
      background-color: #0f1230;
      color: #6C63FF;
      font-size: 16px;
      font-weight: 500;
    }
  #btnAddProduct {
    float: right;
    position: fixed;
    bottom: 120px;
    right: 20px;
    padding: 12px 24px;
    text-align: center;
    border-radius: 44px;
    outline: none;
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s ease-in-out 0s;
    background-color: #0f1230;
    color: #6C63FF;
    font-size: 16px;
    font-weight: 500;
  }
.list_btns{
  display: flex;
    justify-content: center;
}

  #home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  button:hover {
    box-shadow: 0 12px 16px 0 rgba(3, 3, 3, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  }
  header {
    position: fixed;
    display: flex;
    height: 80px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
    background-color: #0f1230;
    justify-content: space-between;
    align-items: center;
}
.main {
  height: 100vh;
}
  .title h1 {
    padding: 0 15px;
    font-size: 35px;
    text-align: left;
    letter-spacing: 4.5px;
    font-weight: bold;
    color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, right top, from(#f5f5f5), to(#6C63FF));
    background-image: -o-linear-gradient(left, #f5f5f5 0%, #6C63FF 100%);
    background-image: linear-gradient(90deg, #f5f5f5 0%, #6C63FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 2s ease infinite;
    animation: gradient 2s ease infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
  .marketplace {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    max-height: 100%;
  }
  .home_title h2 {
    color: #f5f5f5;
    text-align: left;
    display: flex;
    margin: auto 0;
    padding: 50px 10px;
  }

   form {
    display: flex;
    justify-content: center;
  }
  .modal-content {
    background: rgba(18, 21, 56, 0.92);
    box-shadow: rgb(255 255 255 / 12%) 2px 2px 5px inset;
    /* backdrop-filter: blur(28px); */
    border-radius: 44px;  
  }
  .modal-header {
    border-bottom: 1px solid transparent !important;
  }
  .modal-footer {
    border-top: 1px solid transparent !important;
  }
  footer {
    display: flex;
    height: 100px;
    left: 0;
    bottom: 0;
    background: #0e1130;
    }
  .social {
    color: #f5f5f5;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .social img {
    width: 48px;
    height: 48px;
    color: #f5f5f5;
  }
  .listItem {
    display: flex ;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(18, 21, 56, 0.94);
    box-shadow: rgb(255 255 255 / 12%) 2px 2px 5px inset;
    backdrop-filter: blur(28px);
    border-radius: 44px;
    z-index: 1;
  }
  .modal-header h5 {
    color: #f5f5f5;
  }
  .form-group label {
    color: #f5f5f5;
  }
  .list-form {
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: auto 0;
    justify-content: center;
  } 
  .form-control {
    background: rgba(18, 21, 56, 1);
    box-shadow: rgb(255 255 255 / 12%) 2px 2px 5px inset;
    color: #f5f5f5;
  }
  .form-group input {
    font-size: 20px;
    border-radius: 44px; 
    display: flex;
    justify-content: center;
    border: transparent;
    text-align: center;

  }
  .form-group textarea {
    font-size: 14px;
    border: transparent;
    text-align: left;
    background: rgba(18, 21, 56, 1);
    box-shadow: rgb(255 255 255 / 12%) 2px 2px 5px inset;
    color: #f5f5f5;
    backdrop-filter: blur(28px);
    border-radius: 44px;
}
.form-group ::placeholder  {
  background: transparent;
  color:#f5f5f5;
  text-align: left;
  font-size: 16px;
}
#txtAddProductName {
  background: transparent;
}
.form-group select {
    font-size: 18px;
    border-radius: 44px;   
    border: transparent;
    text-align: center;
    background: rgba(18, 21, 56, 1);
    box-shadow: rgb(255 255 255 / 12%) 2px 2px 5px inset;
    color: #f5f5f5;
  }
  .form-group label {
    border-radius: 44px;   
    border: transparent;
    text-align: center;
    color: #f5f5f5;
  }

  .scroll-two {
    height: 80vh;
    width: 100vw;
  }

  form select {
    font-size: 17px;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    height: 30px;
    width: auto;
    text-align: center;
    box-shadow: rgb(255 255 255 / 12%) 2px 2px 5px inset;
    color: #f5f5f5;
  }

  form #fileListItem {
    display: none;
  }
  form .item-data {
    display: flex;
    justify-content: space-around;
  }
  form #item_status {
    display: inline-grid;
  }

  #userInfo h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;

  }

  ul {
    list-style-type: none;
  }
  #menuToggle
  {
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover
  {
    color: tomato;
  }
  
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: rgb(240, 238, 238);
    ;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 300px;
    min-height: 100vh;
    max-height: 100%;
    margin: 0 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #0f1230;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

  #whitepaper iframe {
    width: 100%; height: 100%; border: none; margin: 0; padding: 0; display: block;
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes incentives-marquee {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -680px;
  }
}

@keyframes incentives-marquee {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -680px;
  }
}



  
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

